language: cpp
dist: xenial
compiler: gcc

install: 
  # Qt5
  - sudo apt-get install -qq qt5-qmake qt5-default
  # cppcheck
  - sudo apt-get install -qq cppcheck
  # Codecov
  - sudo pip install codecov
  # OCLint
  - ./scripts/install_oclint
  # SLOCcount
  - sudo apt-get install sloccount

script: 
  # Build and run the tests
  - qmake
  - make --silent debug
  - ./cicone
  # Get code coverage
  - ./scripts/get_code_cov
  - codecov
  # cppcheck
  - cppcheck --quiet --error-exitcode=1 . 
  # Call OCLint
  - ./scripts/do_oclint
  # Build and run and profile normal program
  - qmake
  - make --silent release
  - time ./cicone
  - gprof cicone > gprof.log
  - head gprof.log -n 1000
  # SLOCcount
  #   remove OCLint and .git, otherwise it will be counted as well
  - rm -rf oclint-0.10.3 oclint-0.10.3-x86_64-linux-3.13.0-74-generic.tar.gz oclint.log
  - rm -rf .git
  - rm -rf debug
  - rm -rf release
  - cd ..; sloccount --overhead 1 --personcost 22614 djog_unos_2018 | egrep -v "Adding"; cd djog_unos_2018

after_success:
  # Codecov
  - bash <(curl -s https://codecov.io/bash)
